* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}
:root {
    --dark: #170418;
    --purple: #60357a;
    --green: #0a9b02;
    --light-blue: #7ca0c0;
    --gray: #eeeef0;
}

body {
    background-color: var(--dark);
}
header img {
    width: 200px;
}
header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: end;
    padding: 20px;
}
header nav ul {
    display: flex;
    flex-flow: row nowrap;
    list-style-type: none;
}
nav ul li a {
    text-decoration: none;
    color: var(--green);
    font-size: 24px;
    font-family: sans-serif;
    padding: 10px;
}
nav ul li a:hover {
    cursor: pointer;
    color: var(--gray);
    transition: .2s ease-in-out; 
}
hr {
    color: var(--gray);
    width: 80%;
    margin: 0 auto;
}

.intro {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 40px;
    align-items: center;
    padding: 30px;
}

.img-container {
    grid-column-start: 2;
}
.intro div img {
    width: 300px;
    border: 2px solid var(--green);
    opacity: .4;
}
.intro div img:hover {
    opacity: .8;
    transition: .8s ease-in-out;
}

.introduction {
    color: var(--green);
    font-family: sans-serif;
    grid-column: 4 / span 2;
    line-height: 1.5rem;
}
